@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/foo"

@using BlazorFluxor.Store.State
@using BlazorFluxor.Services

@inject IState<FooState> FooState
@inject StateFacade Facade

<h3 class="text-center mb-3">Foo</h3>

@if (FooState.Value.IsLoading)
{
    <div class="d-flex flex-row justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (FooState.Value.HasCurrentErrors)
{
    <span>Opps! Looks like an issue occurred loading Foos :(</span>
}
else if (!(FooState.Value.Foos is null) && FooState.Value.Foos.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Completed</th>
                <th>IPAddress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var foo in FooState.Value.Foos.Take(100))
            {
                <tr>
                    <td>@foo.FirstName</td>
                    <td>@foo.LastName</td>
                    <td>@foo.Email</td>
                    <td>@foo.Completed</td>
                    <td>@foo.IPAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        if (FooState.Value.Foos is null)
        {
            Facade.LoadFoo();
        }


        base.OnInitialized();
    }

}